.navbar-fixed-top{
  background:white;
  opacity:.98;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);
}
h1{
  margin-bottom:20px;
  margin-top:35px;
}
p{
  font-size:20px;
}
.botones-menu{
  margin-top:15px;
  padding:10px;
  border-radius:15px;
  width:70px;
  text-align:center;
}
.botones-menu:hover{
  background-color:#E3EAEF;
}
#little-bio{
  margin-top:30px;
}
.container-fluid{
  padding-top:50px;
}
#header-text{
  margin-top: 40px;
}
#header-image{
  background-color:#E3EAEF;
  margin-bottom: -35px;
}
#image{
  border-radius:100%;
  margin:auto;
  margin-bottom:50px;
  margin-top:50px;
  width:300px;
  height:300px;
  background-color:#B2C7DB;
  background-image: url("https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/12122406_10153227972216395_5095540112327545438_n.jpg?oh=46ffbc12d7019e6130231d91d3c5e47f&oe=597ACDF2");
  background-repeat:no-repeat;
  backgroud-position: center;
}
#pie-de-pagina{
    background-color:#3F313F;
    color:white;
    padding:45px;
}
#header{
  padding-bottom:35px;
  background-color:#B2C7DB;
}
#portfolio{
  margin-top:35px;
  margin-bottom:35px;
}
.img-portfolio:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius:25px;
}
#contact{
  margin-top:35px;
  margin-bottom:35px;
}
.something-cool{
  font-size:2em;
}
form{
  width:100%;
}
input{
  width:100%;
}
textarea{
  width:100%;
}
