.header{
	background-color: #192231;
	color: white;
	padding-top: 85px;
	padding-bottom: 75px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 6px 2px rgba(0,0,0,.5);
	margin-bottom: 26px;
	 background: 
}
.header-big{
	background-color: #192231;
	color: white;
	padding-top: 85px;
	padding-bottom: 75px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 6px 2px rgba(0,0,0,.5);
	margin-bottom: 26px;
	height: 100%;

}
#quoteMachine{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 300px;
}
.btn-quote{
	margin-top: 7px;
	margin-bottom: 7px;
}
.img-responsive{
	display: inline-block;
}
#profilepic{
	border-radius: 25px;
	height: 250px;
	width: 250px;
}
#quoteTarget{
	position: relative;
	top: -50px;
}
.section-title{
	background-color: #494E5B;
	text-align: center;
	color: white;
	box-shadow: 2px 2px 6px 2px rgba(0,0,0,.5);
	padding-bottom: 20px;
	padding-top: 20px;
}
.form-control{
	margin-bottom: 10px;
}
#contact{
	padding-top: 25px;
	padding-bottom: 15px;
}
#pie-de-pagina{
	background-color: #192231;
	color: white;
	padding: 20px;
}
.content{
	font-size: 20px;
	text-align: justify;
	padding-top: 25px;
	padding-bottom: 25px;
}
.left-bar{
	border-right: 1px solid #BBB;
	font-size: 20px;
	text-align: justify;
}
p{
	margin-bottom: 20px;
}
.texto-citado{
	font-size: 20px;
}
.autor-citado{
	font-size: 15px;
}
.big-list{
	font-size: 20px;
}
.img-slide{
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
}

#portfolio-slide{
	margin-bottom: 25px;
	margin-top: 25px;
	box-shadow: 2px 2px 6px 2px rgba(0,0,0,.5);
	padding:0;
	margin-left:0;
	margin-right:0;
	max-width: 100%;
}
.carousel{
	padding:0;
}
.carousel-indicators li{
	border-color: black;
}
.carousel-indicators .active{
	background-color: black;
}
.slider-text{
	padding:35px;
}
.item-mini-portfolio{
	margin: 5px;
	box-shadow: 2px 2px 6px 2px rgba(0,0,0,.5);
	border-radius: 10px;
}
.mini-portfolio-container{
	margin-top: 10px;
	margin-bottom: 10px;
}
.mini-portfolio-container h2{
	font-size: 25px;
}
#next-thing{
	color:white;
}
.text-next{
	font-size: 20px;
	text-decoration: none;
}
.header-next{
	font-size: 30px;
}
#next-thing:hover{
	color: #337ab7;
}
.navbar-default{
  	background-color: #494E5B;
  	border-color: #192231;
  }
 .navbar-default  .nav > li > a{
  color: rgba(255, 255, 255, 1);
 }
 .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: white;
  }
@media all and (max-width:689px){
        .img-slide{ height: 100px;}
        .slider{ margin: 15px; }
        .content{ padding: 10px; font-size: 18px; }
        .slide{ padding-bottom: 8px; }
        .carousel-inner h2{font-size: 17px;}
    }
@media (min-width: 768px) {
  .navbar-transparent {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-transparent .navbar-header .navbar-brand {
    color: white;
  }
  .navbar-transparent .navbar-header .navbar-brand:hover,
  .navbar-transparent .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-transparent .nav > li > a,
  .navbar-transparent .nav > li > a:focus {
    color: white;
  }
  .navbar-transparent .nav > li > a:hover,
  .navbar-transparent .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-transparent.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-transparent.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 14px;
  }
  .navbar-transparent.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-transparent.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-transparent.affix .nav > li > a:hover,
  .navbar-transparent.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}